footer{
    margin-top: 9.4rem;
    background-color: #484E53;
  }
  #social{
    margin: 0 auto;
    max-width: 15rem;
   }
   
   footer div.content{
    text-align: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
   }
   #social ul{
   
    text-align: center;
    flex-flow:row nowrap ;
    text-decoration: none;
   font-size: 2.5rem;
   }
   
   footer div.wrapper ul {
       list-style-type: none;
       color: rgb(15, 9, 9);
   
   
   }
   
   footer div.wrapper a {
       text-decoration: none;
       color: #454A4F;
   }
   
   footer div.wrapper h4 {
       margin-top: 1.563rem;
       margin-bottom: 1.25rem;
       justify-content: space-between;
       color: #454A4F;
       text-transform: uppercase;
   }
   
 
   
   .copyright{
   text-align: center;
    margin-top: 4.5rem;
   }
  
  
   footer div.content  { 
    text-align: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 1.5rem;
  }
  #social ul{
    text-align: center;
    flex-flow:row nowrap ;
    font-size: 3rem;
    text-decoration: none;
  }
  
  footer div.wrapper ul {
    list-style-type: none;
    color:  #ffffff;
  
  
  }
  
  footer div.wrapper a {
    text-decoration: none;
    color:  #ffffff;
    border-bottom: 1px solid rgb(46, 78, 138);
  }
  
  footer div.wrapper h4 {
    margin-top: 2rem;
    margin-bottom: 1.111rem;
    justify-content: space-between;
    color:  #ffffff;
    text-transform: uppercase;
  }
  
  footer div.wrapper li {
    margin-bottom: 1.111rem;
  }
  
  footer section ul li a:hover {
    color: rgb(167, 66, 53);
    transition: 0.3s;
    
  }
  
  
  .copyright{
    color: #ffffff;
  text-align: center;
  padding-top: 1.2rem;
  }
  
  #newsletter img{
    justify-items: center;
    max-width: 40%;
    margin-left: 4.5rem;
  }
  #newsletter p{
    
    color: #ffffff;
  }
  #newsletter img{
      justify-items: center;
      max-width: 40%;
      margin-left: 4rem;
  }

  @media (min-width: 600px) {
    body{
      font-size: 16px;
    }
    footer div.content  {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      list-style-type: none;
     
    }
    #social ul{
      display: flex;
      flex-flow:row nowrap ;
      font-size: 3rem;
    }
    #social{
      margin: 0;
    }
    footer div.wrapper h4{
      font-size: 1.5rem;
    }
    #social ul li+li{
      margin-left: 2rem ;
      }
      #newsletter li{
        margin: 0 auto;
      }
      #newsletter p{
        display: block;
      }
   
    }   