/* Herstellingen is alfabetisch gesorteerd om een bonuspunt te hebben */
/* Project BWD Mohamed Ben Hammadi 1TI5 */

#btn {
background-color: #484E53;
border-radius: 0.222rem;
border: 0;
color: white;
display: block;
padding: 0.667rem 1.2rem;
transition: 1s;
}

.form{  
display: block;
margin-bottom: 3rem;
margin-top: 0.833rem;
margin: 0 auto;
padding: 1rem;
}

.gegevens {
display: block;
margin-bottom: 3rem;
margin-top: 1rem;
text-align: center;
}

.gegevens p{
margin-bottom: 1.3rem;
}

#google{
align-items: center;
justify-content: center;
margin-bottom: 2.8rem;
}

.gegevens a{
color: #000000;
font-size: 2.5rem;  
text-decoration: none;
}

.gegevens p {
font-size: 1.5rem;
padding-top: 0.5rem;
}

h2{
padding-bottom: 0.5rem;
}

h3{
padding-bottom: 1rem;
text-align: center;
}

#info {
margin-top: 5rem;
}

#info h3{
color: #b80a0a;
}

#info li{
margin-top: 1.2rem;
padding-top: 2.8rem;
padding: 2.8rem;
}

#info p{
text-align: center;
}

#info ul{
display: block;
flex-flow:  row nowrap;
list-style-type: none;
text-align: center;
}

#intro{
margin-bottom: 1.7rem;
margin-top: 1.7rem;
text-align: center;
}

#intro .social{
display: flex;
flex-flow:row nowrap ;
font-size: 2.8rem;
justify-content: center;
list-style: none;
}

#intro .social a {
color: brown;
}

#intro .social li a:hover {
color: #112d49;    
}

#intro .social li{
padding: 1rem;  
}

#locatie{
margin: 1rem;
}

#locatie li{
list-style-type: none;
margin-top: 1.7rem;
padding-bottom: 1.2rem;
}

#locatie li::before {
color: #484E53;
content: "►";
padding-right: 1rem;
}

#openingsuren{
padding-bottom: 1.2rem;
text-align: center;
}

#name, #email, #onderwp, #txt {
margin: 0.5rem 0;
border-radius: 0.3rem;
border: 1px solid rgb(204, 204, 204);
margin-bottom: 1rem;
padding: 0.7rem 1.2rem;
width: 100%;
}

.txtgebruiker {
margin-left: 15%;
width: 70%;
}
 

/* media query's van klein naar groot (mobiele versie ---> desktop versie) */

@media (min-width: 600px) {
    .form{
        display: flex;
    }

    #info ul{
        display: flex;
        justify-content: center;
    }
        
    #name, #email, #onderwp, #txt {
        width: 40%;
    }
}



  
