/* Herstellingen is alfabetisch gesorteerd om een bonuspunt te hebben */
/* Project BWD Mohamed Ben Hammadi 1TI5 */

#btn {
padding: 0.667rem 1.2rem;
border: 0;
border-radius: 0.222rem;
background-color: #484E53;
color: white;
display: block;
transition: 1s;
}

.form{  
margin: 0 auto;
padding: 15px;
margin-top: 0.833rem;
display: block;
margin-bottom: 3rem;
}

.gegevens {
display: block;
margin-top: 1rem;
text-align: center;
margin-bottom: 3rem;
}

.gegevens p{
margin-bottom: 1.3rem;
}

#google{
align-items: center;
margin-bottom: 2.8rem;
justify-content: center;
}

.gegevens a{
text-decoration: none;
color: #000000;
font-size: 2.5rem;  
}

.gegevens p {
padding-top: 0.5rem;
font-size: 1.5rem;
}

h2{
padding-bottom: 0.5rem;
}

h3{
text-align: center;
padding-bottom: 1rem;
}

#info {
margin-top: 5rem;
}

#info h3{
color: #b80a0a;
}

#info li{
padding-top: 2.8rem;
margin-top: 1.2rem;
padding: 2.8rem;
}

#info p{
text-align: center;
}

#info ul{
display: block;
flex-flow:  row nowrap;
list-style-type: none;
text-align: center;
}

#intro{
text-align: center;
margin-top: 1.7rem;
margin-bottom: 1.7rem;
}

#intro .social{
list-style: none;
display: flex;
flex-flow:row nowrap ;
justify-content: center;
font-size: 2.8rem;
}

#intro .social a {
color: brown;
}

#intro .social li a:hover {
color: #112d49;    
}

#intro .social li{
padding: 1rem;  
}

#locatie{
margin: 1rem;
}

#locatie li{
margin-top: 1.7rem;
list-style-type: none;
padding-bottom: 1.2rem;
}

#locatie li::before {
content: "►";
color: #484E53;
padding-right: 1rem;
}

#openingsuren{
text-align: center;
padding-bottom: 1.2rem;
}

#name, #email, #onderwp, #txt {
width: 100%;
padding: 0.7rem 1.2rem;
 margin: 0.5rem 0;
border: 1px solid rgb(204, 204, 204);
border-radius: 0.3rem;
margin-bottom: 1rem;
}

.txtgebruiker {
margin-left: 15%;
width: 70%;
}
 

/* media query's van klein naar groot (mobiele versie ---> desktop versie) */

@media (min-width: 600px) {
    .form{
        display: flex;
    }

    #info ul{
        display: flex;
        justify-content: center;
    }
        
    #name, #email, #onderwp, #txt {
        width: 40%;
    }
}



  
