/* footer is alfabetisch gesorteerd om een bonuspunt te hebben */
/* Project BWD Mohamed Ben Hammadi 1TI5 */

.copyright{
   color: #ffffff;
   margin-top: 4.5rem;
   padding-top: 1.2rem;
   text-align: center;
  text-align: center;
}
.content  { 
  flex-flow: row nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 1.5rem;
  text-align: center;
}
#newsletter p{
  color: #ffffff;
}

footer{
    background-color: #484E53;
    margin-top: 9.4rem;
}

footer .wrapper a{
  border-bottom: 1px solid rgb(46, 78, 138);
  color:  #ffffff;
  text-decoration: none;
}

footer section a:hover {
  color: rgb(167, 66, 53);
  transition: 0.3s;
}

footer .wrapper h4 {
  color:  #ffffff;
  justify-content: space-between;
  margin-bottom: 1.111rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

footer .wrapper li {
  margin-bottom: 1.111rem;
}

footer .wrapper ul{
  color:  #ffffff;
  list-style-type: none;
}

#social{
  margin: 0 auto;
  max-width: 15rem;
}

#social ul{
    flex-flow:row nowrap ;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
}

 /* media query's van klein naar groot (mobiele versie ---> desktop versie) */

  @media (min-width: 600px) {

  body{
    font-size: 1.1rem;
  }
  .content  {
    display: flex;
  }

  footer .wrapper h4{
    font-size: 1.5rem;
  }

  #newsletter li{
    margin: 0 auto;
  }

  #newsletter p{
      display: block;
  }

  #social{
      margin: 0;
  }
  
  #social ul{
    display: flex;
    flex-flow:row nowrap ;
    font-size: 3rem;
  }
    
  #social ul li+li{
    margin-left: 2rem ;
  }
     
}   