/* Herstellingen is alfabetisch gesorteerd om een bonuspunt te hebben */
/* Project BWD Mohamed Ben Hammadi 1TI5 */


#btn{
  background-color: #484E53;
  color: white;
  max-width: 30%;
  transition: 1s;
}

#button{
  text-align: center;
}

#commentaar{
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 1.7rem ;
}

.details{
  margin-left: 1rem;
  margin-top: 3.3rem;   
}

fieldset{
	border-color: rgb(41, 55, 182);
}

.form {
background-color: rgb(38, 66, 102);
border-radius: 0.3rem;
box-shadow: 0 0 0.5rem rgb(35, 85, 223); 
color: #ffffff;
display: block;
margin-bottom: 1.2rem;
margin: 1rem;
max-width: 100%;
overflow: hidden;
padding: 1rem;
}

.imgphones img{
  height: 25rem;
  margin: 0;
  max-width: 25rem;
  overflow: hidden;
  padding: 0.83rem;
}

.intro{
  margin-bottom: 1.667rem;
  margin-top: 1.2rem;
  text-align: center;
}

input, select {
  padding:  0.3rem;
  width: calc(100% - 0.6rem);
}

.iphones{
   justify-content: space-between;   
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 4.5rem;
}

.item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0  rgb(41, 55, 182);
  color: rgb(41, 55, 182);
}

.item span {
  color: red;
}
  
input, select, textarea {
  border-radius: 0.3rem;
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 1.7rem;
}

#personlijkeinfo {
  display: block;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

#product{
   justify-content: space-between;
   margin-bottom: 1.7rem;
   margin-top: 3.7rem;
  display: flex;
  flex-flow: row wrap;
}

textarea {
  margin: 0px 0px 0.6rem;
  max-height: 5.6rem;
  padding: 0.3rem;
  width: calc(60% - 0.5rem);
}

.titleIphone{
margin: 1rem;
text-align: center;
}

/* media query's van klein naar groot (mobiele versie ---> desktop versie) */

@media (min-width: 500px){
.iphones{
    justify-items: center;
  }
}

@media (min-width: 700px){
  #personlijkeinfo{
 display: flex;
}
#btn{
  max-width: 10%;
  }
}




    
      
       
     





























