

/*body en header*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    padding-bottom: 20px;
}


body {
    background-color: #F1F1F1;
    font-family: 'Raleway';
    font-size: 15px;
    line-height: 1.5;
}
.structural{
    display: none;
    
}
.inverted {
    color: #ffffff;
    background-color: #000000;
    padding: 2px 5px;
}
.wrapper nav #mainmenu  {
    justify-content: center;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
article h1 {
    width: 100%;
    font-size: 24px;
}
#mainmenu {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    

}

#mainmenu a {
    color: #000000;
    text-decoration: none;
    padding: 15px;

}

#mainmenu li.active {
    background-color: #CCCCCC;
    border-radius: 0px;
}
/*main*/
main {
    padding: 35px;
    display: flex;
    flex-flow: row nowrap;

}

#blogentries {
    width: 66%;
}
/*aside*/
aside {
    width: 30%;
}

article {
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-right: 40px;
    box-shadow: 5px 3px 10px 5px #8884;

}

article img {
    width: 100%;
}

article h3 {
    margin: 0;
    margin-bottom: 10px;
}

article .comments {
    align-items: center;
    text-align: right;
}

article .container h1 {
    padding-bottom: 5px;

}

article .subtitle {
    padding-bottom: 15px;
}
article .date{
 color: #616161;
}
article .content {
    padding-bottom: 15px;
}

article .tag {
    background-color: #000000;
    color: #ffffff;
    padding: 2px 5px;
}

.button a {
    color: #000000;
    background-color: #ffffff;
    display: block;
    border-radius: 0px;

    text-decoration: none;
}
article .button {
    border: 1px solid #000;
    padding: 10px 15px;
}

article .button a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.circle {
    background-color: #000000;
    border-radius: 18px;
    color: #fff;
    padding: 2px 8px;
}

div.container {
    padding: 10px;
}

div.subtitle {
    padding-bottom: 20px;
}
/*aside*/
aside .cardcv {
    background-color: #ffff;
    box-shadow: 5px 3px 10px 5px #8884;
    margin-bottom: 40px;

}

aside section.cardpopular {
    background-color: #ffff;
    margin-bottom: 40px;
    box-shadow: 5px 3px 10px 5px #8884;
    padding-bottom: 10px;

}
aside section.cardpopular li{
    display: block;
    height: 67px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 13px;
}
aside section.cardpopular img {
    width: 15%;
    float: left;
    padding-right: 5px;

}

aside section.cardpopular p {
    font-size: 16px;
    display: block;
    margin-left: 5px;
   
   
}

aside section.cardpopular li+li {
    list-style-type: none;
    padding-bottom: 5px;
    border-top: 1px solid #F1F1F1;
   
}

aside section.cardpopular h3 {
    padding-left: 15px;
    background-color: #F1F1F1;
    padding-bottom: 15px;
    padding-top: 15px; 

}

aside section.card {
    background-color: #ffffff;
    box-shadow: 5px 3px 10px 5px #8884;

}

aside section.card li {
    list-style-type: none;
    
}

aside section.card a {

    color: #000000;
    text-decoration: none;
    background-color: #F1F1F1 ;

}

aside section.card ul {
    display: flex;
    flex-flow: row wrap;
    padding-left: 10px;
    margin: 0;
    font-size: 12px;
}
aside section.card h3{
    padding-left: 15px;
    background-color: #f1f1f1;
    padding-bottom: 15px;
    padding-top: 15px;
    
}
aside section.card ul li {
    list-style: none;
    padding: 12px 2px;
}

aside section.card ul li a {
    text-decoration: none;
    background-color: #f1f1f1;
    padding: 3px 10px;
    color: #000;
}
/*footer*/

footer {
    background-color: #616161;
    
    
}
footer.wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

 div.buttons {
    margin-top: 25px;
  
}

div.buttons a {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    padding: 15px 20px;
    text-decoration: none;

}
div .buttons.inactive {
    background-color: #000000;
    color: #ffffff4d;
}
footer .social {
    text-align: right;
}

footer .social p {
    margin-bottom: 5px;
    color: #ffffff;
}

footer div.social a {
    color: #ffffff;
    margin-bottom: 5px;
}